
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Josefin+Sans:ital,wght@0,100;0,200;0,600;1,300;1,400&family=Roboto:wght@400;500;700;900&family=Yanone+Kaffeesatz:wght@400;500;600;700&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #0b1120;
    color: #fff;
    
}
.CustomColor{
    background-color: rgba(11,17,32,.8)!important;
    border-bottom:1px solid rgba(248,250,252,.08);
    color: #fff;
}
.colorCustom{
    color: #fff!important;
}
.list-group-item{
    padding: 0 0 0.6rem 0;
}
.controlForm{
    text-align: left;
}
input{
    width: 100%;
    padding: 5px 0;
    border-radius: 8px;
}
.active{
    color:yellow!important;
}